.page {
	padding-bottom: 300px;
}

.errorPage {
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
	width: 707px;
	height: 556px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 32px;
}

.blockTitleAndutton {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}

.title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 34px;
	line-height: 130%;
}

.text {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
}

.image {
	width: 640px;
	height: 338px;
}

.button {
	background-color: #4263EB;
}

.button:hover {
	background-color: #4263EB;
}